<nav>
  <ul class="nav justify-content-end">
    <li class="nav-item pt-2">
      <strong> Hola {{admin.nombre}} </strong>
    </li>
    <li class="nav-item">
      <div id="menu" class="container">
    </div>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Salir</a>
    </li>
  </ul>
</nav>