<div class="card bg-dark text-center">
  <div class="card-body">
    <form action="/create-employee">
      <h5 class="card-title text-center text-light">Registro Empleado</h5>
      <div class="row d-flex align-items-center mb-1">
        <div class="col-12 text-light">Nombre:</div>
        <div class="col-7 m-auto"><input
            type="text"
            name="nameEmployee"
            class="form-control"
          /></div>
      </div>
      <div class="row d-flex align-items-center mb-1">
        <div class="col-12 text-light">Email:</div>
        <div class="col-7 m-auto"><input
            type="text"
            name="email"
            class="form-control"
          /></div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-12 text-light">Clave:</div>
        <div class="col-7 m-auto"><input
            name="password"
            class="form-control"
          /></div>
      </div>
      <button class="btn bg-light my-3">Ingresar</button>
    </form>
  </div>
</div>