<div class="col">
  <div class="card bg-secondary rounded shadow-lg">
    <div class="card-body text-center">
      <p class="card-text text-center p-5">{{product.nombre}}</p>
      <p class="card-text text-center">{{product.precio}}</p>
      <a
      onclick="addCart(this.id, this.name)"
      id="{{product.nombre}}"
      name="{{product.precio}}"
      class="btn btn-primary"
    >Agregar</a>
    </div>
  </div>
</div>